{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div id="sidebar" class="col-md-3 camps">
    <div class="well">
      <h3>{{ camp }}</h3>
      <ul id="camp-tabs" class="nav nav-pills nav-stacked space">
        <li {% if form %}class="active"{% endif %}>
          <a href="{% url 'camp_edit' c_id=camp.id %}">
            <i class="fa fa-calendar"></i> {% trans "Data" %}
          </a>
        </li>
        <li {% if not form %}class="active"{% endif %}>
          <a href="{% url 'participant_list' c_id=camp.id %}">
            <i class="fa fa-group"></i> {% trans "Participants" %}
          </a>
        </li>
      </ul>
      <br><br>
      <a href="{% url 'camp_list' %}" class="btn btn-warning">{% trans "Back" %}</a>
    </div>
  </div>
  <div id="camp-form" class="col-md-9">
    {% block maincontent %}{% endblock %}
  </div>
</div>
{% endblock %}