{% extends "base.html" %}
{% load i18n bootstrap partials %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/camp-form.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div id="sidebar" class="col-md-3 camps">
    <div class="well">
      <h3>{{ camp }}</h3>
      <a href="{% url 'camp_list' %}" class="btn btn-warning">{% trans "Back" %}</a>
      <a href="#" id="save-camp" class="btn btn-success">{% trans "Save" %}</a>
    </div>
  </div>
  <div id="camp-form" class="col-md-9">
    <form method="post">
      {% csrf_token %}
      {% form_header form %}

      {{ form.title|bootstrap_inline }}

      <div class="row form-horizontal">
          <div class="col-md-6">
              {{ form.type|bootstrap_horizontal:'col-md-4' }}
              {{ form.begin|bootstrap_horizontal:'col-md-4' }}
              {{ form.min_birth_year|bootstrap_horizontal:'col-md-4' }}
          </div>
          <div class="col-md-6">
              {{ form.department|bootstrap_horizontal:'col-md-4' }}
              {{ form.end|bootstrap_horizontal:'col-md-4' }}
              {{ form.fee|bootstrap_horizontal:'col-md-4' }}
          </div>
      </div>

      <h3>{% trans "Participants" %}</h3>
      <div class="participants list list-group">
          {% for participant in participants %}
           {% url 'participant_edit' p_id=participant.id as edit_url %}
            <a href="{{ edit_url }}" class="list-group-item ajax_modal">
                {{ participant.member }}

                {% if participant.payed_fee %}
                  <span class="label label-success pull-right"><i class="fa fa-check"></i></span>
                {% else %}
                  <span class="label label-danger pull-right"><i class="fa fa-times"></i></span>
                {% endif %}
            </a>
          {% endfor %}
      </div>
    </form>
  </div>
</div>
{% endblock %}