{% extends "base.html" %}
{% load i18n bootstrap partials %}

{% block content %}

<form method="post">
    {{ form.title|bootstrap_inline }}
    {% csrf_token %}

    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#general" data-toggle="tab">
        <i class="fa fa-calendar"></i> {% trans "Data" %}
      </a></li>
      <li><a href="#participants" data-toggle="tab">
        <i class="fa fa-group"></i> {% trans "Participants" %}
      </a></li>
    </ul>
    <div class="tab-content camp-tabs">
        <div class="tab-pane active" id="general">
            {% form_header form %}
            <div class="row form-horizontal">
                <div class="col-md-6">
                    {{ form.type|bootstrap_horizontal:'col-md-4' }}
                    {{ form.begin|bootstrap_horizontal:'col-md-4' }}
                    {{ form.min_birth_year|bootstrap_horizontal:'col-md-4' }}
                </div>
                <div class="col-md-6">
                    {{ form.department|bootstrap_horizontal:'col-md-4' }}
                    {{ form.end|bootstrap_horizontal:'col-md-4' }}
                    {{ form.fee|bootstrap_horizontal:'col-md-4' }}
                </div>
            </div>
            <h3>{% trans "Camp address" %}</h3>
            <div class="row form-horizontal">
                <div class="col-md-6">
                    {{ form.address1|bootstrap_horizontal:'col-md-4' }}
                    {{ form.postal_code|bootstrap_horizontal:'col-md-4' }}
                    {{ form.phone|bootstrap_horizontal:'col-md-4' }}
                </div>
                <div class="col-md-6">
                    {{ form.address2|bootstrap_horizontal:'col-md-4' }}
                    {{ form.city|bootstrap_horizontal:'col-md-4' }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="participants">
            {{ participants.management_form }}
            <table class="table table-condensed participants">
              <tr>
                <th width="30%">{% trans "Member" %}</th>
                <th width="15%">{% trans "type" %}</th>
                <th width="15%">{% trans "Signup date" %}</th>
                <th width="15%">{% trans "payed fee" %}</th>
                <th widht="15%">{% trans "payed date" %}</th>
                <th width="10%"></th>
              </tr>
              {% for p in participants %}
                <tr>
                  {% for field in p.hidden_fields %}
                    {{ field }}
                  {% endfor %}
                  <td class="name">{{ p.instance }}</td>
                  {% for field in p.visible_fields %}
                    <td>{{ field|bootstrap_inline }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
            {% formset_errors participants %}
        </div>
    </div>

    <a href="{% url 'camp_list' %}" class="btn btn-warning">
      {% trans "Back" %}
    </a>

    <input type="submit" class="btn btn-success pull-right" value="{% trans 'Save' %}">
</form>
{% endblock %}