{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/camps.js"></script>
{% endblock %}

{% block content %}
<div id="camp-view" class="row">
  <div id="sidebar" class="col-md-3">
    <div class="well">
      <h3>{% trans "Camp type" %}</h3>
      <div class="type-filter">
        <a href="#" data-filter="" class="active">{% trans "All" %}</a>
        {% for type in types %}
          <a href="#" data-filter="{{ type.id }}">
            {{ type }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="main" class="col-md-9">
    <div class="row space">
      <div class="col-md-8">
        <a class="btn btn-success">
          <i class="fa fa-plus-circle"></i>
          {% trans "New" %}
        </a>
      </div>
      <div class="col-md-4">
          <input class="search form-control" placeholder="{% trans 'search' %}">
      </div>
    </div>
    <div class="list list-group">
      {% for camp in camps %}
          <a href="{% url 'camp_edit' c_id=camp.id %}" class="list-group-item">
            <span class="title">{{ camp.title }}</span>
            <span class="type hidden">{{ camp.type }}</span>
            <span class="badge">{{ camp.participants__count }}</span>
          </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}