{% extends "camps/base.html" %}
{% load i18n bootstrap partials %}

{% block maincontent %}
    <div class="participants list list-group">
        {% for participant in participants %}
         {% url 'participant_edit' p_id=participant.id as edit_url %}
          <a href="{{ edit_url }}" class="list-group-item ajax_modal">
              {{ participant.member }}

              {% if participant.payed_fee %}
                <span class="label label-success pull-right">{% trans "paid" %}</span>
              {% else %}
                <span class="label label-danger pull-right">{% trans "unpaid" %}</span>
              {% endif %}
          </a>
        {% endfor %}
    </div>
{% endblock %}