{% extends "camps/base.html" %}
{% load i18n bootstrap partials %}

{% block maincontent %}
    <div class="participants list list-group">
        {% for participant in participants %}
         {% url 'participant_edit' p_id=participant.id as edit_url %}
          {% url 'participant_delete' p_id=participant.id as delete_url %}
          <a href="{{ delete_url }}" class="btn btn-danger btn-xs ajax_modal">
            <i class="fa fa-trash-o"></i>
          </a>
          <a href="{{ edit_url }}" class="list-group-item ajax_modal">
              {{ participant.member }}
          </a>
        {% endfor %}
    </div>
{% endblock %}